{% block content %}
    {% load static %}
<div class="container my-5">
    <h2 class="text-center mb-4">Book Reviews</h2>
    <link rel="stylesheet" href="{% static 'css/book_details.css'%}">
    <p class="text-center text-muted mb-5">
        Dive into our curated collection of book reviews, exploring timeless classics, modern bestsellers,
        and hidden literary gems. Happy reading!
    </p>

    {% if user.is_authenticated %}
    <div class="text-center mb-4">
        <a href="{% url 'add_review' %}" class="btn btn-success btn-lg">Add Review</a>
    </div>
    {% endif %}

    <div class="row gy-4">
        {% for book in books %}
        <div class="col-md-6 col-lg-4 col-sm-12">
            <div class="card shadow h-100">
                <img src="{{ book.cover_image.url }}" class="card-img-top" alt="{{ book.title }}">

                <div class="card-body">
                    <h5 class="card-title">{{ book.title }}</h5>
                    <p class="card-text">{{ book.description|truncatechars:150 }}</p>
                    <p class="text-muted">By {{ book.author }}</p>
                    <a href="{% url 'book_detail' book.id %}" class="btn btn-primary">Read More</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
