{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{% block title %}The Chronicles{% endblock %}</title>

    <!-- Bootstrap CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
</head>
<body>

<!-- Navbar Section -->
<section class="navbar-section">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="{% url 'home' %}">The Chronicles</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
                aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="{% url 'home' %}">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'about' %}">About</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'terms_of_service' %}">Services</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                       data-toggle="dropdown"
                       aria-haspopup="true" aria-expanded="false">
                        Category
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="{% url 'book_reviews' %}">Book Reviews</a>
                        <a class="dropdown-item" href="{% url 'lifestyle' %}">Lifestyle</a>
                        <a class="dropdown-item" href="{% url 'technology' %}">Technology</a>
                        <a class="dropdown-item" href="{% url 'education' %}">Education & Learning</a>
                        <a class="dropdown-item" href="{% url 'environment' %}">Environment & Nature</a>
                        <a class="dropdown-item" href="{% url 'art_and_culture' %}">Art & Culture</a>
                        <a class="dropdown-item" href="{% url 'gaming' %}">Gaming</a>

                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="{% url 'privacy_policy' %}">Privacy Policy</a>
                    </div>
                </li>
            </ul>
            <form class="form-inline my-2 my-lg-0" action="#" method="get">
                <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search"
                       aria-describedby="search-addon">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
            </form>
        </div>
    </nav>

    <!-- Content Section -->
    {% block content %}
        <!-- Default content can be added here, or it will be replaced by content in child templates. -->
    {% endblock %}

    <!-- Bootstrap JS (jQuery, Popper.js, Bootstrap JS) -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

</body>
</html>
